<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{{title}}}</title>
</head>

<body>
    <div>
        <p>
            <a href="http://localhost:8080/login">login</a>
            |
            <a href="http://localhost:8080/register">register</a>
        </p>
    </div>

    <div>
        <h1>Forgot Password?</h1>
        <p>Enter your email and we will send you a password reset link</p>
    </div>

    <form action="/api/sessions/forgotpassword" method="POST">

        <label for="email">Email</label>
        <input type="email" name="email" required />

        <button type="submit" name="submit">Send Email</button>

    </form>

</body>

</html>