<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{{title}}}</title>
</head>

<body>
    <div>
        <p>
            <a href="http://localhost:8080/login">login</a>
            |
            <a href="http://localhost:8080/register">register</a>
        </p>
    </div>
    <form action="/api/sessions/login" method="POST">
        <label for="email">Email</label>
        <input type="email" name="email" required />
        <label for="password">Password</label>
        <input type="password" name="password" required />
        <button type="submit" name="submit">Login</button>
    </form>
    <p><a href="http://localhost:8080/forgotpassword">¿Forgot your password?</a></p>
    <div>
        <p><a href="http://localhost:8080/api/sessions/github">Login with GitHub
            </a>
        </p>
    </div>
    {{#if error}}
    <p style="color: red">Invalid credentials</p>
    {{/if}}
</body>

</html>