<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{{title}}}</title>
</head>

<body>
    <div>
        <p>
            <a href="http://localhost:8080/login">login</a>
            |
            <a href="http://localhost:8080/register">register</a>
        </p>
    </div>

    <div>
        <h1>Change Password</h1>
        <p>Note that new password must be different from old</p>
    </div>

    <form action="/api/sessions/resetpassword" method="POST">

        <label for="newPassword">new password</label>
        <input type="string" name="newPassword" required />

        <button type="submit" name="submit">Confirm</button>

    </form>

</body>

</html>